USE [master]
GO
/****** Object:  Database [BussinessProduct]    Script Date: 4/25/2020 12:08:47 AM ******/
CREATE DATABASE [BussinessProduct]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BussinessProduct', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BussinessProduct.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BussinessProduct_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BussinessProduct_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BussinessProduct].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BussinessProduct]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/25/2020 12:08:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4/25/2020 12:08:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[confirmPassword] [nvarchar](max) NULL,
	[type] [nvarchar](max) NULL,
	[registerDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/25/2020 12:08:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[productPrice] [float] NOT NULL,
	[productCategory] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[CurrentDateTime] [datetime] NOT NULL,
	[adminId] [int] NOT NULL,
	[descountPresentage] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 4/25/2020 12:08:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[sellPrice] [float] NOT NULL,
	[productId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Purchase] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [name], [email], [password], [confirmPassword], [type], [registerDate]) VALUES (1, N'dilan', N'd@g.com', N'E0FBA1AC5E25DDF486908D23B840F9E3AB30CA88E6E84C7264E9E94B443F8BC4', N'E0FBA1AC5E25DDF486908D23B840F9E3AB30CA88E6E84C7264E9E94B443F8BC4', N'admin', CAST(N'2020-04-24T19:33:36.013' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [title], [image], [productPrice], [productCategory], [description], [CurrentDateTime], [adminId], [descountPresentage]) VALUES (7, N'Simple Product', N'dilan0.jpg', 2000, N'high', N'Simple Product is low value', CAST(N'2020-04-24T23:26:01.140' AS DateTime), 1, 6)
INSERT [dbo].[Product] ([id], [title], [image], [productPrice], [productCategory], [description], [CurrentDateTime], [adminId], [descountPresentage]) VALUES (8, N'Simple Product', N'dilan1.jpg', 8000, N'simple', N'simple Product is low value and low budget', CAST(N'2020-04-24T23:26:58.153' AS DateTime), 1, 4)
INSERT [dbo].[Product] ([id], [title], [image], [productPrice], [productCategory], [description], [CurrentDateTime], [adminId], [descountPresentage]) VALUES (9, N'Middle Product', N'dilan2.jpg', 3000, N'middle', N'midlle value at discount', CAST(N'2020-04-24T23:27:49.337' AS DateTime), 1, 8)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Purchase] ON 

INSERT [dbo].[Purchase] ([id], [userId], [sellPrice], [productId]) VALUES (1, 1, 95, 5)
INSERT [dbo].[Purchase] ([id], [userId], [sellPrice], [productId]) VALUES (2, 1, 460, 4)
SET IDENTITY_INSERT [dbo].[Purchase] OFF
USE [master]
GO
