
@{
    Layout = "~/Views/Shared/Bussinesssiteshared.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md col-sm" style="text-align:center">
            
            <h2> Thank You Purchesed Item</h2>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md col-sm">
            <a href='@Url.Action("Index", "Home")'>
                <button type="button" class="btn btn-primary" style="width:100%">Go To Home Page</button>
            </a>
        </div>
    </div>
</div>

